<div class="wrapper">
  
  <div class="body">
    <div class="divLogo">
      <img class = "logo"src="../../../assets/img/feathers.png" alt="" srcset="">
    </div>
    <h1 class="label1">Sign in to Ugrado</h1>
    <form >
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <a href="" class="forgot-password">Forgot Password?</a>
    </form>
    
   <div class="buttom-dark">
    <button type="button" class="btn btn-dark">Sign in</button>
   </div>
<p class="create-user">New to Ugrado? <a href="">Create an account</a></p>
  </div>
</div>
